[Unit]
Description=The queue system service file
After=network.target

[Service]
ExecStart=/home/robertwb/new-queue/devops/scripts/start_server.sh
Restart=always 
RestartSec=10
User=robertwb
Group=robertwb

LimitNOFILE=524288

[Install]
WantedBy=multi-user.target
