<table class="table table-striped booked">
  <thead>
    <th>User</th>
    <th>Location</th>
    <th>Comment</th>
    <th>Time</th>
    <th>Length</th>
  </thead>
  <tbody>
    <!--<tr ng-repeat="booking in bookedUsers | filter:{attending(booking) && soon(booking)}" ng-show="matchBooked(user)">-->
    <tr ng-repeat="booking in bookedUsers | filter: attending | filter: soon | orderBy : booking.time" ng-show="matchBooked(user)">
      <td style="vertical-align: middle;"><p ng-repeat="name in booking.users">{{name}}</p></td>
      <td style="vertical-align: middle;"><p ng-repeat="location in getLocations(booking.users) track by $index">{{location}}</p></td>
      <td style="vertical-align: middle;">{{booking.comment}}</td>
      <td style="vertical-align: middle;">{{booking.time | date:"H:mm"}}</td>
      <td style="vertical-align: middle;">{{booking.length}}</td>
    </tr>
  </tbody>
</table>