<div class="container">

  <div class="row" style="margin-top: 1em; margin-bottom: 1em;">
    <div class="col-md-3" style="text-align: center;">
      <h2 class="text-red" ng-show="locked" style="margin-top: 0;"><span class="glyphicon glyphicon-lock"></span>{{queue}}</h2>
      <h2 ng-show="!locked" style="margin-top: 0;">{{queue}}</h2>
    </div>

    <p class="col-md-6">
      {{info}}
    </p>

    <div class="col-md-3" ng-show="users.length">
      <input type="text" class="search" ng-model="search" placeholder="Search" style="height: 3em; margin-bottom: 2%; width: 100%; padding-left: 1em;">
    </div>
  </div>


  <div class="row">
    <!-- Queues -->
    <div class="col-md-9 col-md-push-3">
      <!-- No booked or normal users in queue -->
      <h4 ng-hide="(users | filter:notHasBooking).length || (bookedUsers | filter: attending | filter: soon).length">This queue is empty</h4>

      <!-- Users with bookings -->
      <div ng-show="(bookedUsers | filter: attending | filter: soon).length">
        <booked-users></booked-users>
      </div>

      <!-- Users without bookings -->
      <div ng-show="(users | filter:notHasBooking).length">
        <standard-users></standard-users>
      </div>
    </div>

    <!-- Buttons and inputs -->
    <div class="col-md-3 col-md-pull-9">
      <!-- Logged in -->
      <div ng-show="loggedIn">
        <h5>Location</h5>
        <div style="background-color: #F04124; padding-bottom: 2%; margin-bottom: 7%;" ng-hide="fixedLocation">
          <input type="text" ng-show="enqueued" ng-model="location" ng-model-options="{debounce: 1000}" placeholder="Red 01" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Red 01'" class="col-xs-12" style="height: 3em; margin-bottom: 2%;" id="queueLocationInputField">
          <input type="text" ng-hide="enqueued" ng-model="location" placeholder="Red 01" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Red 01'" class="col-xs-12" style="height: 3em; margin-bottom: 2%;" id="queueLocationInputField">
          <i class="text-white" ng-hide="location">&nbsp;&nbsp;Required</i>
        </div>
        <div ng-show="fixedLocation">
          <input type="text" ng-model="location" ng-model-options="{debounce: 4000}" placeholder="Red 01" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Red 01'" class="col-xs-12" style="height: 3em; margin-bottom: 2%;" id="queueLocationInputField" disabled>
        </div>
        <h5>Comment</h5>
        <div style="background-color: #F04124; padding-bottom: 2%; margin-bottom: 7%;">
          <input type="text" ng-show="enqueued" ng-model="comment" ng-model-options="{debounce: 1000}" placeholder="Laboration 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Laboration 1'" class="col-xs-12" style="height: 3em; margin-bottom: 2%;" id="queueCommentInputField">
          <input type="text" ng-hide="enqueued" ng-model="comment" placeholder="Laboration 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Laboration 1'" class="col-xs-12" style="height: 3em; margin-bottom: 2%;" id="queueCommentInputField">
          <i class="text-white" ng-hide="comment || enqueued">&nbsp;&nbsp;Required</i>
        </div>

        <div ng-hide="enqueued">
          <br ng-show="comment"><br ng-show="comment">
          <span class="col-xs-6">
            <label for="help">Help&nbsp;&nbsp;</label>
            <input type="radio" ng-model="help" id="help" ng-value=true>
          </span>
          <span>
            <label for="present">Present&nbsp;&nbsp;</label>
            <input type="radio" ng-model="help" id="present" ng-value=false>
          </span>
          <br><br>
        </div>

        <button class="blue clickable frame center-content expand" ng-show="!enqueued && location && comment" ng-click="addUser()" id="queueJoinQueueBtn">
          <span class="glyphicon glyphicon-plus"></span>
          Join queue
        </button>
        <button class="blue clickable frame center-content expand" ng-hide="enqueued || location && comment" popover="In order to queue, you must enter your location and state the subject in the comment."  popover-trigger="focus" popover-placement="bottom" id="queuePromptLocationJoinBtn">
          <span class="glyphicon glyphicon-plus"></span>
          Join queue
        </button>
        <button class="blue clickable center-content frame expand" ng-show="enqueued && !gettingHelp" ng-click="receivingHelp()" id="queueReceivingHelpBtn">
          <span class="glyphicon glyphicon-check"></span>
          Receiving help
        </button>
        <button class="red clickable center-content frame expand" ng-show="enqueued" ng-click="leave()" id="queueLeaveQueueBtn">
          <span class="glyphicon glyphicon-remove"></span>
          Leave queue
        </button>
        <div class="buffer" ng-show="accessLevel"></div>
        <!-- Admin-options -->
        <div class="btn-group col-xs-12" dropdown is-open="status.isopen" ng-show="accessLevel" style="padding-left: 0; padding-right: 0;">
          <button type="button" class="btn btn-default dropdown-toggle col-xs-12" id="queueOptionsBtn" dropdown-toggle>
            <div class="col-xs-6 text-left">
              Options
            </div>
            <div class="col-xs-6 text-right">
              <span class="caret text-right"></span>
            </div>
          </button>
          <ul class="dropdown-menu col-xs-12" role="menu" style="padding: 5%;">
            <li>
              <button class="yellow clickable center-content frame expand" ng-show="accessLevel" ng-click="broadcast()" id="queueBroadcastBtn">
                <span class="glyphicon glyphicon-bullhorn"></span>
                Broadcast
              </button>
            </li>
            <li>
              <button class="yellow clickable center-content frame expand" ng-show="accessLevel" ng-click="broadcastTA()" id="queueBroadcastToTasBtn">
                <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;
                Broadcast faculty
              </button>
            </li>
            <li>
              <button class="yellow clickable center-content frame expand" ng-show="accessLevel" ng-click="setMOTD()" id="queueSetMOTDBtn">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;
                Set MOTD
              </button>
            </li>
            <li>
              <button class="yellow clickable center-content frame expand" ng-show="accessLevel" ng-click="setInfo()" id="queueSetInfoBtn">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;
                Set queue info
              </button>
            </li>
            <li>
              <button class="red clickable center-content frame expand" ng-show="accessLevel" ng-click="purge()" id="queuePurgeQueueBtn">
                <span class="glyphicon glyphicon-remove"></span>
                Purge queue
              </button>
            </li>
            <li>
              <button class="red clickable center-content frame expand" ng-show="accessLevel && !locked" ng-click="lock()" id="queueLockQueueBtn">
                <span class="glyphicon glyphicon-lock"></span>
                Lock queue
              </button>
            </li>
            <li>
              <button class="blue clickable center-content frame expand" ng-show="accessLevel && locked" ng-click="unlock()" id="queueUnlockQueueBtn">
                <span class="glyphicon glyphicon-lock"></span>
                Unlock queue
              </button>
            </li>

            <li>
              <button class="yellow clickable center-content frame expand" ng-show="accessLevel && ding" ng-click="dingOff()" id="queueDingOnBtn">
                <span class="glyphicon glyphicon-volume-off"></span>
                Sound Off
              </button>
            </li>

            <li>
              <button class="yellow clickable center-content frame expand" ng-show="accessLevel && !ding" ng-click="dingOn()" id="queueDingOffBtn">
                <span class="glyphicon glyphicon-volume-up"></span>
                Sound On
              </button>
            </li>
<!--
            <li>
              <button class="yellow clickable center-content frame expand" ng-show="accessLevel" ng-click="schedule()" id="queueScheduleBtn">
                <span class="glyphicon glyphicon-calendar"></span>
                Set scheduled labs
              </button>
            </li>
-->
          </ul>
        </div>
      </div>
      <!-- Not logged in -->
      <div ng-hide="loggedIn">
        <h3>In order to queue you must be logged in</h3>
        <button class="blue clickable center-content expand text-white" style="border: 0;" ng-click="externalLink('login?target=/queue/' + queue)" id="queueNotLoggedInLogInBtn">
          Log in
        </button>
      </div>
      <div class="row buffer"></div>
      <div ng-show="completionText" style="border: 2px dotted black; padding: 0.3em; border-radius: 6px;">
        {{completionText}}
      </div>
    </div>
  </div>
</div>
