.container {
  margin-top: 5%;
}

.page.container {
  margin-bottom: 5%;
}

.clickable {
  cursor: pointer;
}

.non-clickable {
  cursor: default;
}

.gray {
  background-color: #A9A9A9;
}

.blue {
  background-color: #0275d8;
}

.blue.clickable:hover {
  background-color: #0b66b5;
}

.red {
  background-color: #f54f36;
}

.red.clickable:hover {
  background-color: #d6432d;
}

.yellow {
  background-color: #f0d73a;
}

.yellow.clickable:hover {
  background-color: #e8ca0e;
}

img.frame {
    background-color: #FFFFFF;
    padding: 1%;
    border: 1px solid #DDDDDD;
}
