<button ng-show="serverMessage !== undefined" class="btn btn-primary" style="margin-bottom: 2%;" ng-click="setServerMessage()" id="administrationAddServerMessageBtn">Set server-message</button>
<h1>Administrators of Stay A While&nbsp;<a href="/#/help#administrator">?</a></h1>
<h5>New administrators might have to log out and in again in order to get all of their new privileges.</h5>
<br>
<div class="col-md-6">
	<!-- Add admins -->
	<p>Insert the new administrators username</p>
	<form ng-submit="addAdmin()">
		<div class="input-group col-md-8">
			<input type="text" class="form-control" ng-model="newAdmin" placeholder="Add administrator" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Add admin'" id="administrationAdminInputField">
			<span class="input-group-addon blue clickable text-white" style="border: 0px;" id="administrationAddAdminBtn" type="submit" ng-click="addAdmin()">
				<span class="glyphicon glyphicon-plus"></span>
				Add
			</span>
		</div>
	</form>
	<!-- Remove admins -->
	<br>
	Administrators
	<br>
	<div ng-show="admins.length">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Username</th>
					<th>Added by</th>
				</tr>
			</thead>
			<tbody>
				<tr id="admin.name" ng-repeat="admin in admins">
					<td>{{ admin.realname }}</td>
					<td>{{ admin.username }} <span class="glyphicon glyphicon-remove text-red clickable" title="Remove admin" ng-click="removeAdmin(admin.ugKthid)" id="administrationRemoveAdmin{{admin.ugKthid}}Btn" ng-show="admins.length > 1"></span></td>
					<td>{{ admin.addedBy }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-hide="admins.length">
		(No admins, you are totally screwed now ... ;) )
	</div>
</div>
<!-- Adding queues -->
<div class="col-md-6">
	<p>Insert the name of the new queue</p>
	<form ng-submit="addQueue()">
		<div class="input-group col-md-8">
			<input type="text" class="form-control" ng-model="newQueue" placeholder="Add queue" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Add queue'" id="administrationQueueInputField">
			<span class="input-group-addon blue clickable text-white" style="border: 0px;" id="administrationAddQueueBtn" type="submit" ng-click="addQueue()">
				<span class="glyphicon glyphicon-plus"></span>
				Add
			</span>
		</div>
	</form>
	<table class="table table-striped">
		<thead>
			<tr>
				<th><h3>Queues</h3></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="queue in queues | orderBy:'name'">
				<td ng-class="{'text-light-gray' : queue.hiding}">{{queue.name}}</td>
			</tr>
		</tbody>
	</table>
</div>
